<div class="row">
    <div class="col-12">
        <div class="float-lg-left">
            <div class="h4 mt-3 font-weight-light">{{headerText}}</div>
        </div>
        <div class="float-lg-right">
            <mat-form-field appearance="" class="mt-2">
                <mat-label>Partner</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="d-inline-block">
                <button mat-stroked-button color="accent" class="ml-3">Close</button>
                <button mat-stroked-button color="primary" class="ml-1" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>